* {
    margin: 0;
    padding: 0;
}
body {
    animation: loading 1s ease-in-out;
}
.container {
    margin: 0 auto;
    width: 1180px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header-contacts {
    width: 100%;
    background: #151B22;
    display: flex;
    padding-bottom: 1%;
}
.inline-contacts {
    display: flex;
    align-items: center;
    margin-top: 1.8%;
    gap: 22%;
}
.menu-burger {
    display: none;
}
.burger-logo {
    display: none;
}
.header-logo {
    display: flex;
    gap: 10%;
    align-items: center;
}
.header-logo-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
}
.phone-email {
    display: flex;
    gap: 5%;
    height: 100px;
    width: 100%;
}
.phone {
    display: flex;
    align-items: center;
    gap: 10%;
    padding-right: 7%;
    border-right: 1px solid white;
}
.phone-number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
}
.email {
    display: flex;
    align-items: center;
    gap: 10%;
}
.email-address {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF; 
}
.assortment {
    background: #E6E6E6;
    padding-top: 50px;
    padding-bottom: 4%;
}
.assortment-container {
    position: relative;
}
.navigation-list {
    display: flex;
    column-gap: 10%;
    justify-content: center;
    list-style: none;
    margin-top: 5%;
}
.nav-btn {
    z-index: 2;
    margin-top: 0.6%;
}
.nav-btn a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #151B22;
    text-decoration: none;
}
.slides {
    position: relative;
}
.slide {
    margin-left: 15%;
    margin-top: 8%;
    display: none;
    animation: loading 0.8s ease-in-out;
}
.active-slide {
    display: block;
}
.bicycle-img {
    width: 67%;
}
.price {
    margin-left: 3%;
    margin-top: 2%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
}
.bicycle-info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 1%;
    width: 24%;
    margin-left: 3%;
}
.fourth-bicycle-info {
    width: 30%;
    margin-left: 3%;
}
.buy-bicycle {
    cursor: pointer;
    padding: 1% 5%;
    margin-top: 2%;
    margin-left: 17.7%;
    background: #151B22;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.slider-btns {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    left: 90%;
}
.next-btn {
    cursor: pointer;
    margin-bottom: 70%;
}
.prev-btn {
    cursor: pointer;
    transform: rotate(180deg);
    margin-top: 80%;
}
.slider-dots {
    display: grid;
    grid-row-gap: 40px;
    justify-content: center;
    padding-top: 10%;
}
.slide-dot {
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgba(19, 62, 113, 0.7);
}
.active-dot {
    animation: loading 0.8s ease-in-out;
    background: black;
}
.first-dot {
    margin-top: 10%
}
.products-section {
    margin-top: 3%;
    position: relative;
}
.filtering {
    display: flex;
    column-gap: 2.5%;
    justify-content: center;
}
.filter {
    border: 2px solid black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    background: none;
    width: 12.8%;
    padding-top: 0.9%;
    padding-bottom: 1%;
    border-radius: 5%;
    cursor: pointer;
}
.active-filter {
    background: #2E52B0;
    color: white;
    border: none;
}
.products {
    display: grid;
    grid-template-columns: 22.4% 22.4% 22.4% 22.4%;
    grid-column-gap: 2%;
    grid-row-gap: 3%;
    justify-content: center;
    margin-top: 5%;
}
.product {
    background: url('../shop-img/product\ background.png') no-repeat top;
    width: 99%;
    padding-bottom: 19%;
    animation: product 1s ease-in-out;
}
.hide {
    display: none;
}
.product-photo {
    display: block;
    margin: 0 auto;
}
.helmet-photo {
    width: 70%;
    margin-top: 25%;
}
.product-info {
    display: grid;
    grid-row-gap: 14%;
    margin-left: 18%;
    margin-top: 1%;
}
.product-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
.product-price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
}
.buy-btn {
    width: 54%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background: #205A57;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}
.star-photo {
    margin-top: 25%;
    width: 69.3%;
}
.star-info {
    margin-top: 19.5%;
}
.flashlight-photo {
    margin-top: 30%;
    width: 69.2%;
}
.flashlight-info {
    margin-top: 15.5%;
}
.knee-pads-photo {
    margin-top: 21%;
    width: 64.5%;
}
.knee-pads-info {
    margin-top: 10%;
}
.chain-photo {
    width: 75%;
    margin-top: 34%;
}
.chain-info {
    margin-top: 12%;
}
.brakes-photo {
    width: 80%;
    margin-top: 24%;
}
.brakes-info {
    margin-top: 12.5%;
}
.wings-photo {
    width: 73%;
    margin-top: 33%;
}
.wings-info {
    margin-top: 17.4%;
}
.elbow-pads-photo {
    width: 59%;
    margin-top: 23%;
}
.elbow-pads-info {
    margin-top: 14.3%;
}
.footer {
    border-top: 2px solid #000000;
    margin-top: 8%;
}
.footer-elem {
    display: grid;
    grid-template-columns: 16% 21.3% 18%;
    grid-column-gap: 21%;
    margin: 0 auto;
    margin-top: 3.5%;
}
.footer-elem-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: black;
    padding-left: 4%;
    border-left: 2.5px solid #0029FF;
    height: 18.5%;
}
.company-btns {
    margin-top: 13%;
    display: grid;
    grid-row-gap: 25%;
}
.footer-btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: black;
}
.footer-contacts {
    margin-top: 11%;
    display: grid;
    grid-row-gap: 55%;
}
.company-phone {
    display: grid;
    grid-template-columns: 10% auto;
    grid-column-gap: 5%;
}
.company-telephone {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: black;
}
.company-email {
    display: grid;
    grid-template-columns: 10% auto;
    grid-column-gap: 8%;
}
.company-email-address {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: black;
}
.company-networks {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10%;
    margin-top: 13%;
}
.network img {
    width: 95%;
}
.copy-right {
    margin-top: 40%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}
@keyframes slideAnimaton {
    from{transform: rotate(360deg); margin-left: -100%; margin-top: -100%;}
    to{transform: rotate(0deg); margin-left: 20%; margin-top: 8%;}
}
@keyframes loading {
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes main-back-animation {
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes products-back-animation {
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes contacts-back-animation {
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes training-back-animation {
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes from-top {
    from{margin-top: 100px;}
    to{margin-top: 0px;}
}
@keyframes product {
    from{margin-top: 12%; opacity: 0;}
    to{margin-top: 0%; opacity: 1;}
}

@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .header-logo-img {
        width: 43%;
    }
    .header-logo-text {
        font-size: 16px;
    }
    .phone-number {
        font-size: 15px;
    }
    .email-address {
        font-size: 15px;
    }
    .assortment {
        padding-top: 43px;
    }
    .nav-btn {
        margin-top: 0.7%;
    }
    .nav-btn a {
        font-size: 16px;
    }
    .bicycle-img {
        width: 65%;
    }
    .price {
        font-size: 20px;
    }
    .bicycle-info {
        font-size: 16px;
    }
    .buy-bicycle {
        font-size: 17px;
    }
    .slider-btns {
        left: 85%;
    }
    .slider-dots {
        grid-row-gap: 35px;
    }
    .slide-dot {
        width: 11px;
        height: 11px;
    }
    .filter {
        font-size: 16px;
    }
    .products {
        grid-template-columns: 21% 21% 21% 21%;
        grid-row-gap: 1%;
    }
    .product {
        background: url('../shop-img/background\ helmet\ 1200\ px.png') no-repeat top;
    }
    .product-info {
        grid-row-gap: 17%;
    }
    .product-name {
        font-size: 16px;
    }
    .product-price {
        font-size: 14px;
    }
    .buy-btn {
        font-size: 15px;
    }
    .footer-elem-title {
        font-size: 19px;
    }
    .footer-btn {
        font-size: 16px;
    }
    .phone-icon {
        width: 90%;
    }
    .company-email {
        grid-template-columns: 12% auto;
        grid-column-gap: 4%;
    }
    .email-icon {
        width: 95%;
    }
    .company-telephone {
        font-size: 16px;
    }
    .company-email-address {
        font-size: 16px;
    }
}
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
    .header-logo-text {
        font-size: 15px;
    }
    .phone-number {
        font-size: 14px;
    }
    .email-address {
        font-size: 14px;
    }
    .nav-btn a {
        font-size: 14px;
    }
    .assortment {
        padding-top: 30px;
    }
    .nav-background {
        display: none;
    }
    .slide {
        margin-left: 18%;
    }
    .slider-btns {
        align-items: center;
    }
    .slider-dots {
        grid-row-gap: 28px;
    }
    .slide-dot {
        width: 10px;
        height: 10px;
    }
    .dots-btn {
        width: 80%;
    }
    .price {
        font-size: 18px;
        margin-left: 0;
    }
    .bicycle-info {
        font-size: 15px;
        width: 31%;
        margin-left: 0;
    }
    .fourth-bicycle-info {
        width: 40%;
    }
    .filter {
        font-size: 15px;
        width: 15.8%;
    }
    .products {
        grid-template-columns: 25% 25% 25%;
    }
    .product-name {
        font-size: 15px;
    }
    .product-price {
        font-size: 14px;
    }
    .buy-btn {
        width: 56.5%;
        font-size: 14px;
    }
    .footer-elem {
        grid-template-columns: 20.2% 30% 19%;
        grid-column-gap: 12%;
        justify-content: center;
    }
    .footer-elem-title {
        font-size: 18px;
    }
    .company-btns {
        margin-top: 11%;
    }
    .footer-btn {
        font-size: 15px;
    }
    .footer-contacts {
        grid-row-gap: 45%;
    }
    .company-telephone {
        font-size: 15px;
    }
    .company-email-address {
        font-size: 15px;
    }
    .network img {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .lock {
        overflow: hidden;
    }
    .container {
        width: 540px;
    }
    .header-logo {
        display: none;
    }
    .header-logo-text {
        font-size: 14px
    }
    .phone-number {
        font-size: 13px;
    } 
    .email-address {
        font-size: 13px;
    }
    .phone-icon {
        width: 15%;
    }
    .email {
        gap: 8%;
    }
    .email-icon {
        width: 10%;
    }
    .inline-contacts {
        align-items: normal;
        gap: 15%;
    }
    .menu-burger {
        display: block;
        width: 45px;
        height: 20px;
        position: relative;
        cursor: pointer;
        z-index: 3;
        transition: all 1s ease 0s;
        margin-left: 4%;
        margin-top: 7.3%;
    }
    .menu-burger.active_menu {
        margin-left: 140px;
    }
    .menu-burger::before,
    .menu-burger::after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .menu-burger span {
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .menu-burger::before {
        top: 0;
    }
    .menu-burger::after {
        bottom: 0;
    }
    .menu-burger.active-menu::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .menu-burger.active-menu::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .menu-burger.active-menu span {
        transform: scale(0);
    }
    .menu-burger.active-menu {
        margin-left: 200px;
        margin-top: 31px;
        position: absolute;
        width: 30px;
    }
    nav {
        display: none;
    }
    .assortement-container.active-menu {
        margin: 0;
    }
    nav.active-menu {
        display: block;
        background: rgba(0, 0, 0, .8);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
        opacity: 0;
        transition: all 0.3s ease 0s;
        margin-left: 0;
        opacity: 1;
    }
    .navigation-list {
        position: relative;
        display: block;
        padding-left: 9%;
        opacity: 0;
        margin-top: 0;
    }
    .navigation-list.active-menu {
        width: 40%;
        height: 100%;
        background: #151B22;
        transition: all 1s ease 0s;
        opacity: 1;
    }
    .burger-logo {
        display: flex;
        gap: 10%;
        align-items: center;
        padding-top: 10%;
        margin-bottom: 26%;
    }
    .burger-logo-img {
        width: 40px;
    }
    .burger-logo-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: white;
    }
    .nav-btn {
        margin-top: 10%;
    }
    .nav-btn::before {
        content: "-";
        color: white;
        width: 5px;
    }
    .nav-btn a {
        font-size: 20px;
        color: white;
    }
    .bicycle-img {
        width: 70%;
    }
    .slider-btns {
        top: 0;
    }
    .slide-dot {
        width: 9px;
        height: 9px;
    }
    .dots-btn {
        width: 75%;
    }
    .slider-dots {
        grid-row-gap: 25px;
    }
    .price {
        font-size: 16px;
    }
    .bicycle-info {
        font-size: 13px;
        width: 36%;
    }
    .fourth-bicycle-info {
        width: 47%;
    }
    .buy-bicycle {
        font-size: 14px;
        padding: 1% 6%;
    }
    .filter {
        font-size: 13px;
        width: 18%;
        padding-top: 1%;
        padding-bottom: 1.3%; 
    }
    .products {
        grid-template-columns: 30% 30% 30%;
    }
    .product-name {
        font-size: 14px;
    } 
    .product-price {
        font-size: 12px;
    }
    .footer-elem {
        grid-template-columns: 23% 32% 19%;
        grid-column-gap: 10%;
    }
    .footer-elem-title {
        font-size: 15px;
    }
    .company-btns {
        grid-row-gap: 20%;
    }
    .footer-btn {
        font-size: 13px;
    }
    .phone-icon {
        width: 90%;
    }
    .company-telephone {
        font-size: 13px;
    }
    .email-icon {
        width: 90%;
    }
    .company-email-address {
        font-size: 13px;
    }
    .company-networks {
        grid-template-columns: 20% 20% 20% 20%;
    }
    .copy-right {
        font-size: 14px;
    }
}
@media  screen and (max-width: 640px) {
    .menu-burger.active-menu {
        margin-top: 25px;
        margin-left: 215px;
    }
}
@media screen and (max-width: 576px) {
    .container {
        width: 320px;
    }
    .header-logo {
        display: none;
    }
    .inline-contacts {
        gap: 0%;
    }
    .phone-email {
        gap: 4%;
        margin-right: 20%;
        margin-top: 2%;
    }
    .phone {
        padding-right: 13%;
    }
    .phone-icon {
        width: 15%;
    }
    .phone-number {
        font-size: 12px;
    }
    .email-icon {
        width: 10%;
    }
    .email-address {
        font-size: 12px;
    }
    .menu-burger {
        width: 40px;
        margin-left: 0;
        margin-top: 4%;
    }
    .menu-burger.active-menu {
        width: 28px;
        margin-left: 130px;
        margin-top: 29px;
    }
    .navigation-list.active-menu {
        width: 50%;
    }
    .burger-logo {
        gap: 5%;
    }
    .burger-logo-text {
        font-size: 18px;
    }
    .burger-logo-img {
        width: 35px;
    }
    .nav-btn a {
        font-size: 18px;
    }
    .slide {
        margin-left: 5%;
    }
    .bicycle-img {
        width: 75%;
    }
    .price {
        font-size: 15px;
    }
    .bicycle-info {
        font-size: 12px;
        width: 49%;
    }
    .fourth-bicycle-info {
        width: 62%;
    }
    .buy-bicycle {
        font-size: 13px;
        margin-left: 5%;
        margin-top: 2.5%;
        padding: 1% 7%;
    }
    .slider-dots {
        grid-row-gap: 15px;
    }
    .slide-dot {
        width: 7px;
        height: 7px;
    }
    .dots-btn {
        width: 60%;
    }
    .next-btn {
        margin-bottom: 35%;
    }
    .prev-btn {
        margin-top: 50%;
    }
    .filtering {
        display: grid;
        grid-template-columns: 33% 33%;
        grid-row-gap: 18%;
    }
    .filter {
        width: 95%;
        border-radius: 5px;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .products {
        grid-template-columns: 45% 45%;
    }
    .product {
        width: 100%;
    }
    .buy-btn {
        width: 58%;
        font-size: 12px;
    }
    .footer-elem {
        grid-template-columns: 36% 50%;
        grid-row-gap: 30%;
    }
    .footer-elem-title {
        font-size: 14px;
    }
    .company-btns {
        grid-row-gap: 15%;
    }
    .footer-contacts {
        grid-row-gap: 40%;
    }
    .company-telephone {
        font-size: 12px;
    }
    .footer-phone-icon {
        width: 90%;
    }
    .company-email {
        grid-template-columns: 11% auto;
    }
    .company-email-address {
        font-size: 12px;
    }
    .footer-email-icon {
        width: 100%;
    }
    .copy-right {
        margin-top: 21.5%;
        margin-left: 45%;
        font-size: 13px;
    }
}
@media screen and (max-width: 470px) {
    .menu-burger.active-menu {
        margin-left: 150px;
        margin-top: 25px;
    }    
}
@media screen and (max-width: 400px) {
    .menu-burger.active-menu {
        width: 25px;
        margin-left: 160px;
        margin-top: 21px;
    }
    .burger-logo-text {
        font-size: 16px;
    }    
}